* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f2c88a;;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #4caf50;
  padding: 1rem 0;
  text-align: center;
}

h1 {
  margin-bottom: 0.5rem;
}

main {
  max-width: 500px; /* Adjusted width */
  width: 90%; /* Ensures it takes 90% of the available space */
  margin: 2rem auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 1rem;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

label {
  font-weight: bold;
  text-align: left;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 0.5rem;
  width: 100%;
  border: 1px solid #e47f7f;
  border-radius: 4px;
  font-size: 1rem;
}

button {
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  background-color: #4caf50;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.login-link {
  margin-top: 1rem;
  text-align: center;
}

footer {
  background-color: #333;
  padding: 1rem;
  color: #fff;
  text-align: center;
  margin-top: auto;
  width: 100%;
}

footer p {
  margin: 0;
}

@media (max-width: 768px) {
  main {
    padding: 1rem;
    margin: 1rem;
    width: 100%; /* Adjusts width for mobile */
  }
}
